<%= javascript_pack_tag 'index'%>
<body>


<canvas class="background">

</canvas>
<div class="columns is-centered">
  <div class="column is-half is-vcentered   ">
    <div class="card bd-notification is-primary is-vertical-center">
      <div class="card-content">
        <p class="title">
          Hola Senor
        </p>
        <p class="subtitle">
          its the dubover
        </p>
      </div>
    </div>
  </div>
</div>
</body>