<%= javascript_pack_tag 'index'%>
<body>
<section class="section">

    <div class="columns">
      <div class="column">
        <div>
          <br>
          <h1 class="center title animated bounceInDown">
            Hola Señor
          </h1>
          <br>
        </div>
        <div class="animated slideInLeft">
          <h1 class="center is-size-1 animated lightSpeedOut" style="animation-delay: 1s;">i am alex</h1>
        </div>  
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <article class="media notification has-background-white">
          <figure class="media-left">
								<span class="icon">
									<i class="fas fa-lg fa-gem has-text-danger"></i>
								</span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Ruby</h1>
              <p class="subtitle is-size-5">
                big rails lil sinatra
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="media notification has-background-white">
          <figure class="media-left">
								<span class="icon has-text-info">
									<i class="fas fa-code-branch is-size-5 has-text-black"></i>
								</span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Git</h1>
              <p class="subtitle is-size-5">
                big git
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="media notification has-background-white">
          <figure class="media-left is-link">
								<span class="icon is-link">
									<i class="fab fa-lg fa-python has-text-link"></i>
								</span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Python</h1>
              <p class="subtitle is-size-5">
                chalice flask n mor
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="media notification has-background-white">
          <figure class="media-left">
								<span class="icon has-text-grey">
									<i class="fas fa-lg fa-cogs"></i>
								</span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Deployment</h1>
              <p class="subtitle is-size-5">
                nginx passenger n capistrano
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="media notification has-background-white">
          <figure class="media-left">
								<span class="icon has-text-primary">
									<i class="fas fa-lg fa-mobile"></i>
								</span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Ionic</h1>
              <p class="subtitle is-size-5">
                big phone small phone or crossplat
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="media notification has-background-white">
          <figure class="media-left">
								<span class="icon has-text-danger">
									<i class="fas fa-lg fa-cube"></i>
								</span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Front-End</h1>
              <p class="subtitle is-size-5">
                bit a bulma n shit ya
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <p style="margin-top:8rem; transform: rotate(15deg);">look at my github its <a href="https://www.github.com/adubov1">around</a></p>
  <p class="right" style="font-size: 0.5rem;"><a href="https://taskit.alexdub.me">go see taskit</a></p>
</section>
</body>