// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 243, 245);
}
.background {
  position: absolute;
  background-color: rgb(241, 243, 245);
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  min-width: 768px;
}

.main {
  //margin-top: 50%;
  text-align-last: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

